# godot artifacts
.godot
.import
.nomedia
export.cfg
export_presets.cfg
export_credentials.cfg
*.tmp

# native artifacts
addons/sprite_dicing/editor/native/godot-cpp
*.obj
*.os
*.o
*.dblite
*.exp
*.lib
